<div class="center margin">
  <div >
            <div class="card backgroundColor">
              <div class="card-header">

                <h4 class="card-header-title white ">
                  Sterowanie światłem
                </h4>

              </div>
              <div class="card-body">

                <div class = "row center">
                <div *ngIf="lightStatus; else elseBlock"><i class="fa fa-lightbulb-o fa-5x yellow big" ></i></div>
                <ng-template #elseBlock><i class="fa fa-lightbulb-o fa-5x big" ></i></ng-template>
              </div>
              
              <div class="row center"> 
                <label class="switch">
                <input type="checkbox" id="togBtn" (click)="toggleLight()">
                <div class="slider round">
                  <span class="on">ON</span>
                  <span class="off">OFF</span>
                </div>
              </label>
            </div>
            
            
                <div *ngIf = "alertGd">
                  <div class="alert alert-danger">
                    <strong>Uwaga!</strong> Wykryto krytyczną ilość gazu.
                  </div>
                </div>
                
                
                <div class="input-group mb-3 center">
                  <div class="input-group-prepend">
                    
                    <span class="input-group-text" >Ustaw godzinę włączenia światła</span>
                  <input type="datetime-local" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                   name="timeToWake" required [(ngModel)]="timeToWake">
                  </div>
                  

                  <div class="input-group-prepend">
                  <span class="input-group-text" >Ustaw godzinę wyłączenia światła</span>
                  <input type="datetime-local" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                  name="timeToSleep" required [(ngModel)]="timeToSleep">
                </div>
                  </div>
              </div>
            </div>
          </div>