<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
   integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<div id="left">
  <ul>
    <i class="fas fa-tint" style="color:#00a1d6;"></i>
    Wilgotność: {{lastH}} %
</ul>
</div>
<div id="right">
<ul>
  <i class="fas fa-thermometer-three-quarters" style="color:#f7aa04;"></i>
    Temperatura: {{lastT}} <span>&#8451;</span>
</ul>
</div>

<label class="switch">
  <input type="checkbox" id="togBtn">
  <div class="slider round">
    <span class="on" (click)="turnOffLight()">ON</span>
    <span class="off" (click)="turnOnLight()">OFF</span>
  </div>
</label>
<div *ngIf = "alertG">
  <div class="alert alert-danger">
    <strong>Uwaga!</strong> Wykryto gaz.
  </div>
</div>

<p>WORK IN PROGRESS -></p>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Wpisz godzinę włączenia światła</span>
  </div>
  <input type="datetime-local" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  <span class="input-group-text" id="inputGroup-sizing-default">Wpisz godzinę wyłączenia światła</span>
  <input type="datetime-local" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>

<p>{{today}}</p> 
<p>{{today | date:'dd-MM-yyyy hh:mm:ss a':'+2'}} aktualny czas, wyżej jako 'number'</p> 

<form  class="form-inline my-2 my-lg-0" >        
  <input class="form-control mr-sm-2" type="number" name="timeToWake" placeholder="timeToWake" required [(ngModel)]="timeToWake">
  <input class="form-control mr-sm-2" type="password" name="timeToSleep" placeholder="timeToSleep" required [(ngModel)]="timeToSleep">
  <button class="btn btn-success my-2 my-sm-0" type="submit">OK</button>
</form>