<section>
    <div class="container flex-center">
      <div class="row flex-center pt-5 mt-3">
        <div class="col-md-6 text-center text-md-left margins">
          <div class="text-white">
            <h1 >Twój smart home w jednym miejscu </h1>
            <hr>
            <h6 >Lorem ipsum dolor sit amet, consectetur
              adipisicing
              elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
              Commodi sequi
              non animi ea dolor molestiae iste.</h6>
              <button type="button" class="btn btn-outline-light" [routerLink]="'/info'">Więcej</button>
          </div>
        </div>
</div>
</div>
</section>
<div class="container mt-4">
<div class = "row">
  <div class="col-3"></div>
  <div class="col-sm-4">

</div>
</div>
<div *ngIf = "alertGd">
  <div class="alert alert-danger">
    <strong>Uwaga!</strong> Wykryto krytyczną ilość gazu.
  </div>
</div>
<div *ngIf = "alertGs">
  <div class="alert alert-success">
    Nie wykryto gazu.
  </div>
</div>
<div *ngIf = "alertGi">
  <div class="alert alert-warning">
    Wykryto znikomą ilość gazu.
  </div>
</div>
</div>
