
#left{
    float:center;
    
    }
#right{
    float:center;
    }

      .white{
        color:white;
    }
    hr { display: block; height: 2px;
      border: 0; border-top: 2px solid #ccc;
      margin: 1em 0; padding: 0; }

    .btn .fa {
      margin-left: 3px;
    }