.navbar.navbar {
  background-color:rgb(177, 45, 230);
  height: 4rem;
  transition: height 600ms ease;
}
.navbar-nav.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.navbar.navbar:hover {
  height: 6rem;
  font-size: 1.1em !important;
}
.navbar.navbar:hover .img{
  display: none;
}
.navbar.navbar:hover .link-text{
  display: inline;
}
.navbar.navbar .link-text{
  display: none;
}
.nav-item.nav-item {
  width: 100%;
}

.nav-link.nav-link {
  display: flex;
  align-items: center;
  width: 9rem;
  color: #ffffff;
  text-decoration: none;
  filter:opacity(0.9);
  transition: 600ms;
}
.nav-link.nav-link:hover {
  filter: grayscale(15%) opacity(1);
  color: #000000b2;
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}



.nav-link.nav-link:hover .link-text {
  display: none;
}


.nav-link.nav-link:hover .img {
  display: inline;
}
