<nav class="navbar navbar-expand">
  <a class="navbar-brand" ></a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/tempHumi']" >Strona Główna</a>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/plot']" >Wykresy</a>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/temperature']" >Temperatura</a>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/humidity']" >Wilgotność</a>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/light']" >Światło</a>    

  
    </ul>
</nav>
